<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>arresteddevelopment</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>arresteddevelopment</string>
			<key>uuid</key>
			<string>BF0D2753-F881-4112-848B-3E5A3EC32D54</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>dexter</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>dexter</string>
			<key>uuid</key>
			<string>2F651E0F-1098-4855-858A-00F6F9E0A432</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>doctorwho</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>doctorwho</string>
			<key>uuid</key>
			<string>079CC5C6-75EE-413D-AFCB-44F36AED51C3</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>futurama</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>futurama</string>
			<key>uuid</key>
			<string>9E456709-F824-47B7-92E5-98BBA5FCC209</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>holygrail</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>holygrail</string>
			<key>uuid</key>
			<string>16242AF2-94EC-4A36-AE8F-1DF0E88269E0</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>loremipsum</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>loremipsum</string>
			<key>uuid</key>
			<string>E8A7DC5D-3F30-4069-9B0B-3C4AC6FCFFED</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>simpsons</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>simpsons</string>
			<key>uuid</key>
			<string>AAC0EEF1-2F02-4591-A8CD-08719DD69B42</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>starwars</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>starwars</string>
			<key>uuid</key>
			<string>2B7528C2-E31A-406C-871A-2A7E459654F0</string>
		</dict>
	</array>
</dict>
</plist>
